<html>
<head>
    <title>Recommender system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="padding:40px;">
<div class="jumbotron">
    <h1 class="display-4">Recommender System</h1>
    <p class="lead">To use the recommender just write the user_id and item_id in the fields below.</p>
    <hr class="my-4">

    <form action="/predict" method="get">

        <div class="form-group">
            <label for="user_id">user_id</label>
            <input type="number" class="form-control" id="user_id" name="user_id" aria-describedby="user_id" value="0">
            <small id="user_idhelp" class="form-text text-muted">Enter user_id</small>
        </div>

        <div class="form-group">
            <label for="item_id">item_id</label>
            <input type="number" class="form-control" id="item_id" name="item_id" aria-describedby="item_id" value="0">
            <small id="item_idhelp" class="form-text text-muted">Enter item_id</small>
        </div>
        <button type="submit" class="btn btn-primary">Predit !</button>
    </form>

    <hr class="my-4">

    <form action="/predict" method="get">

        user_id:<br>
        <input type="" name="" value="0">
        <br>
        item_id:<br>
        <input type="number" name="item_id" value="0">
        <br><br>
        <input type="submit" class="btn btn-primary btn-lg" value="Predit !">
    </form> 

    <hr class="my-4">

    <p>Made by Maxime Bourliatoux and Maxence Monfort</p>
</div>
</body>
</html>
