<html>
<head>
    <title>Recommender system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
    <h1>Recommender System</h1>
    <p class="lead">
    	Made by Maxime Bourliatoux and Maxence Monfort
	</p>
	<p><a class="btn btn-lg" href="#" role="button">Predict !</a></p>
</div>
</body>
</html>
